    #reshuffle{
    cursor: pointer;
    margin-left: .5%;
    margin-top: -2px;
    margin-bottom: 0px;
    font-weight: bold;
    font-style: italic;
    font-size: 21px;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start; /* New */;

  }

  
  .imageContainer {
    width: 150px; /* Adjusted to accommodate padding */
    text-align: center;
    margin: 10px;
    border: 3px solid orange;
    padding: 10px; /* Space between the border and the content */
    box-sizing: border-box; /* This includes border and padding in the element's total width and height */
    align-self: flex-start; /*Uncommenting this will let the border resize to each image individually*/
  }
  
  .imageContainer img {
    width: 100%;
    height: auto;
    cursor: pointer;

  }
  
  .imageContainer p {
    margin: 0;
    font-size: 0.9em;
    color: white;
    word-wrap: break-word; /* New */
    cursor: pointer;

  }
  .clickable {
    cursor: pointer;
}
  /* The modal */


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  /*width: 80%;*/
  max-width: 100%; /* this will prevent the image from exceeding its original size */
  max-height: 90%;
}

/* Caption of Modal Image */
#title{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: orange;
  min-height: 0px;
  font-weight: bold;
  font-style: italic;
  font-size: 120%;
}

#caption {
  margin: auto;
  margin-top: -0px;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  height: 150px;
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.calendar {
  width: 300px;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.calendar-table {
  width: 100%;
  background-color: purple;  
}

.calendar-table th {
  background-color: #f4f4f4;
  color: purple;;

}

#year-month {
  font-weight: bold;
}

#month-name {
  font-weight: bold;
}

.today {
  background-color: orange ;
}

