
  .PostHolder{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vw;
}
.post-tag {
    background-color: #520c58;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px;
    display: inline-block;
}
.floatLeftParagraph{
    display: flex;
    float: left;
    margin-top: 0px;

}

.PostTitle{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: .5%;
    color: orange;
}