.headertext{
    color: orange;
    grid-auto-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 89%;
    margin-bottom: 0%;
}

.intro{
  margin: 0%;
  font-size: 110%;
  
}

.radio{
  position: relative;
  float: right;
  margin-bottom: 0px;
  border-width:2px;
  border-style:solid;
  border-color:orange;
  padding: 2px;
  padding-top:20px;
  margin-left: 1%;
}

.popoutbutton{
  position: absolute;
  top: 2px;
  right: 5PX;
  pointer-events: all;
  z-index: 10;
}
.popoutbutton img{
  margin: 2px;
}
.display{
  font-size: 15px;
  max-width: 200px;
  color: orange;
}
.display1{
  font-size: 15px;
  max-width: 200px;
  color: orange; 
  font-style: italic;
}

.introwrapper{
  margin: 1%;
  margin-top: 0%;
  text-align: center;
}

.pages{
  margin: 1%;
  max-height: 100%;
}
.updates{
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
  overflow-x:hidden;
  overflow-y: auto;
  margin-top: 5px;
  height: 60vh;
}

.post{
  width: 99%;
  max-width: auto;
  height: auto;
  background-color: rgba(57, 19, 94,.5); 
  position:relative;

}


.postWrapper{
  display: flex ;
  justify-content: space-between;
  align-items: left;
}

.postTitle{
  justify-content: left;
  align-items: left;
  font-size: 20px;
  color: orange;
  margin-top: auto;
  margin-left: 2%;
}

.postTitleWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: left;
}
.postBody{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  
}

.postDate{
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 0px;
  color:orange;
  justify-content: right;
  
}


.bouncyboi{
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
margin-right: 50px;
}



.siteparent {
display: grid;

grid-column-gap: 0px;
grid-row-gap: 0px;
border-width: 5px;
border-spacing: 2px;
border-style: outset;
border-color: #df7126;
border-collapse: separate;
background: #41103e url(../assets/background.png) repeat;
width: 70%;
margin: 0 auto;
}
#test{
border-width: 1px;
padding: 1px;
border-style: inset;
border-color: #df7126;
}
.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 1 / 4 / 2 / 5; }
.div3 { grid-area: 2 / 1 / 3 / 3;}
.div4 { grid-area: 2 / 3 / 3 / 5; }
.div5 { grid-area: 3 / 1 / 4 / 5; }
.div6 { grid-area: 4 / 1 / 5 / 3; }
.div7 { grid-area: 4 / 3 / 5 / 5; }
.div8 { grid-area: 5 / 1 / 6 / 5; }
  