.headertext{
    color: orange;
    grid-auto-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 89%;
    margin-bottom: 0%;
}

.intro{
  margin: 0%;
  font-size: 110%;
  
}

.radio{
  position: relative;
  float: right;
  margin-bottom: 0px;
  border-width:2px;
  border-style:solid;
  border-color:orange;
  padding: 2px;
  padding-top:20px;
  margin-left: 1%;
}

.popoutbutton{
  position: absolute;
  top: 2px;
  right: 5PX;
  pointer-events: all;
  z-index: 10;
}
.popoutbutton img{
  margin: 2px;
}
.display{
  font-size: 15px;
  max-width: 200px;
  color: orange;
}
.display1{
  font-size: 15px;
  max-width: 200px;
  color: orange; 
  font-style: italic;
}

.introwrapper{
  margin: 1%;
  margin-top: 0%;
  text-align: center;
}

.pages{
  margin: 1%;
}
.updates{
  width: 100%; 
  height: 400px;
  max-width: 1000px; 
  max-height: 490px;
  margin-left: auto;
  margin-right: auto;
  overflow-x:hidden;
  overflow-y: auto;
  margin-top: 5px;
}

.post{
  width: 99%;
  max-width: auto;
  height: auto;
  background-color: rgba(57, 19, 94,.5); 
  position:relative;

}


.postWrapper{
  display: flex ;
  justify-content: space-between;
  align-items: left;
}

.postTitle{
  justify-content: left;
  align-items: left;
  font-size: 20px;
  color: orange;
  margin-top: auto;
  margin-left: 2%;
}

.postTitleWrapper {
  flex-grow: 1;
  display: flex;
  justify-content: left;
}
.postBody{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  
}

.postDate{
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 0px;
  color:orange;
  justify-content: right;
  
}


.bouncyboi{
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
margin-right: 50px;
}

