/*START OF REQUIRED CSS*/

@font-face {
    font-family: 'computerfontregular';
    src: url('../assets/fonts/computerfont-webfont.woff2') format('woff2'),
         url('../assets/fonts/computerfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'inky_thin_pixelsregular';
    src: url('../assets/fonts/inky_thin_pixels-webfont.woff2') format('woff2'),
         url('../assets/fonts/inky_thin_pixels-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'pixel_powerlineregular';
    src: url('../assets/fonts/pixel_powerline-webfont.woff2') format('woff2'),
         url('../assets/fonts/pixel_powerline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'dec_terminal_modernregular';
    src: url('../assets/fonts/_decterm-webfont.woff2') format('woff2'),
         url('../assets/fonts/_decterm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'stv5730aregular';
    src: url('../assets/fonts/stv5730a-webfont.woff2') format('woff2'),
         url('../assets/fonts/stv5730a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'digitaldiscomedium';
    src: url('../assets/fonts/digitaldisco-webfont.woff2') format('woff2'),
         url('../assets/fonts/digitaldisco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'retron2000regular';
    src: url('../assets/fonts/retron2000-webfont.woff2') format('woff2'),
         url('../assets/fonts/retron2000-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  body, html{
    margin: 0;
    padding: 0;
    }
    
    *{
    box-sizing: border-box;
    }
    
    body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23673d6f' fill-opacity='0.73'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: white;
    font-family: 'retron2000regular';
    }
    
    .SITEBODY {
    width: 100%;
    border-width: 5px;
    border-spacing: 2px;
    border-style: outset;
    border-color: #df7126;
    border-collapse: separate;
    background: #41103e url(../assets/background.png) repeat;
    width: 70%;
    margin: 0 auto;
    }
    .SITEBODY td {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: #df7126;
    background:#41103e url(../assets/background.png) repeat;
    }
    
    .header{
    text-align: center;
    font-size: .74vw;
    font-family: monospace;
    display: block;
    background-image:
    linear-gradient(to right, #ff0000 0%, #ff9a00 10%, #d1de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 1.0s linear infinite;
    width: 100%;
    }
    /*Keyframe animation for the header*/
    @keyframes move {
      to {
      background-position: 100vw;
      }}
      @media only screen and (max-width: 768px) {
      .header{
      font-size: 4px !important;
      margin-bottom: 10px;
      }
      .SITEBODY{
      margin-top: 0px;
      }}
    
    .buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    /*Changes how <a> tags look*/
    a{
    color: orange
    }
    a:link{
    text-decoration: orange;
    }
    a:hover{
      color: #de630b;
    }
    
    /*used if you wanna make your text rainbow rainbow text*/
    .rainbowtext{
    background-image:
    linear-gradient(to right, #ff0000 0%, #ff9a00 10%, #d1de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    font-size: 25px;
    }
    
    /*used if you wanna float an image in a paragraph one way or the other*/
    .imageleft{float: left;}
    .imageright{float: right;}
    
    .radio{
        float: center;
        margin-bottom: 0px;
        border-width:2px;
        padding: 2px;
        padding-top:5px;
      }
      
      .popoutbutton{

        pointer-events: all;
        z-index: 10;
      }
      .popoutbutton img{
        margin: 2px;
      }
      .display{
        font-size: 15px;
        max-width: 200px;
        color: orange;
      }
      .display1{
        font-size: 15px;
        max-width: 200px;
        color: orange; 
        font-style: italic;
      }
      .intro{
        margin: 10px;
        
      }
      .onair{
        
      }
      .bottombuttons{
        margin:8px;
      }
  