      .post-tag {
        background-color: #520c58;
        border-radius: 5px;
        padding: 2px 5px;
        margin: 2px;
        display: inline-block;
    }
      

      .post-background {
        justify-content: center;
        text-align: center;
        background-color: rgba(128, 0, 128, 0.5); /* Purple with 50% transparency */
        border-radius: 80px; /* Adjust as needed for rounded edges */
        margin: 10px; /* Add some space between posts */
        color: white; /* Optional: Change the text color to white for better contrast */
        max-width: 100%;
        height: 100px;
        
    }
    .post-container{
        padding-left: 10vw;
        padding-right: 10vw;


    }
    #postContainer {
        /* Your styles and effects here */

    }
    

    .post-info {
        display: flex; /* Use flexbox to lay out children inline */
        flex-wrap: wrap;
        justify-content: space-between; /* Space out the children */
        align-items: center; /* Align items vertically in the center */
        padding-left: 2vw;
        padding-right: 2vw;
    }
    
    .post-title{
        text-shadow: #1c7fee;
    }
    .post-date {
        margin-left: 2vw; /* Remove default margin to prevent extra space */
        /* Additional styling for date */
    }
    
    
