/*REQUIRED MEDIA QUERIES*/

/* changed width on sitebody to 100% if it detects the screen is below a certain width */
@media screen and (max-width:1210px) {
  .bottomFrame{
    height: 100%;
  }

}

@media screen and (max-width:800px) {
    .SITEBODY {
      width: 100%;
    }
    .updates{
        max-width: 100%;
    }
    #stampsleft{
      display: none;
    }
    #stampsright{
      display: none;
    }
    .widgetWrapper {
      flex-direction: column; /* Stack items vertically on small screens */
      align-items: center; /* Center items horizontally */
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper {
      margin-left: 0;
      margin-right: 0;
      width:auto; /* Ensure full width on small screens */
      justify-content: center;
    } 
    .postList{
      width: 100%;
    }
    .post-container{
      padding-left: 1vw;
      padding-right: 1vw;
      width: 100%;
      height: 100%;
    }
    .post-background{
      margin: 0;
      padding: 0;
      }
    .post-title{
      font-size: 18px;
      padding-top: 5px;
    }
    .post-info{
      padding-left: 5vw;
      padding-right: 5vw;
      font-size: 12px
    }
  
  }
  
  /* smartphones, touchscreens */
  @media (hover: none) and (pointer: coarse) {
  .SITEBODY {
      width: 100%;
    }
  #stampsleft{
      display: none;
    }
  #stampsright{
      display: none;
    }
  .widgetWrapper {
      flex-direction: column; /* Stack items vertically on small screens */
      align-items: center; /* Center items horizontally */
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
  }
  .wrapper {
      margin-left: 0;
      margin-right: 0;
      width: auto; /* Ensure full width on small screens */
  }

  .bottomFrame{
      height: 100%;
    }
  .possObserve{
      display: none;
    }
  
  .postList{
    width: 100%;
  }
  .post-container{
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    height: 100%;
  }
  .post-background{
    margin: 0;
    padding: 0;
    }
  .post-title{
    font-size: 18px;
    padding-top: 5px;
  }
  .post-info{
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 12px
  }
}