body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23673d6f' fill-opacity='0.73'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: white;
  font-family: "retron2000regular";
}

#stampsleft {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0px;
  width: 14%;
  max-width: 100%;
  min-width: 100%;
  margin-top: 1px;
  margin-bottom: 50px;
  min-width: 1%;
  flex-wrap: wrap;
  flex-grow: 0 auto;
  flex-shrink: 0;
  overflow: hidden;
  /*max-height: 1455px;*/
}

#stampsright {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0px;
  width: 14%;
  max-width: 100%;
  min-width: 100%;
  margin-top: 1px;
  margin-bottom: 50px;
  min-width: 1%;
  flex-wrap: wrap;
  flex-grow: 0 auto;
  flex-shrink: 0;
  overflow: hidden;
  /*max-height: 1455px;*/
}

.SITEBODY {
  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
  border-color: #df7126;
  border-collapse: separate;
  background: #41103e url(../assets/background.png) repeat;
  width: 70%;
  margin: 0 auto;
}

.SITEBODY td {
  border-width: 1px;
  padding: 1px;
  border-style: inset;
  border-color: #df7126;
  background: #41103e url(../assets/background.png) repeat;
}

.header {
  text-align: center;
  font-size: 0.74vw;
  font-family: monospace;
  display: block;
  background-image: linear-gradient(to right, #ff0000 0%, #ff9a00 10%, #d1de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 4s infinite steps(50, end);
  width: auto;
  max-width: 100%;
}

/*Keyframe animation for the header. Animates THE POSSUM DEN rainbow effect*/
@keyframes move {
  to {
    background-position: 100vw;
  }
}
@media only screen and (max-width: 1334px) {
  .header {
    font-size: 12px !important;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1045px) {
  .header {
    font-size: 11px !important;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 905px) {
  .header {
    font-size: 10px !important;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 756px) {
  .header {
    font-size: 8px !important;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 606px) {
  .header {
    font-size: 6px !important;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 462px) {
  .header {
    font-size: 4px !important;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 312px) {
  .header {
    font-size: 3px !important;
    margin-bottom: 10px;
  }
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

/*Changes how <a> tags look*/
a {
  color: orange;
}

a:link {
  -webkit-text-decoration: orange;
          text-decoration: orange;
}

a:hover {
  color: #de630b;
}

/*used if you wanna make your text rainbow rainbow text*/
.rainbowtext {
  background-image: linear-gradient(to right, #ff0000 0%, #ff9a00 10%, #d1de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  margin-top: 0%;
  font-size: 25px;
  margin-bottom: 0;
}

/*used if you wanna float an image in a paragraph one way or the other*/
.imageleft {
  float: left;
}

.imageright {
  float: right;
}

.footer {
  padding-top: 5px;
}/*# sourceMappingURL=requiredCss.css.map */